.git
.github/workflows
.github/ISSUE_TEMPLATE
.github/PULL_REQUEST_TEMPLATE
.opencode
.sst
.turbo
.wrangler
node_modules
**/node_modules
**/.turbo
**/.cache
**/.artifacts
**/.wrangler
**/.output
**/.vite
**/.next
**/dist
**/build
**/coverage
**/.DS_Store
**/.env
**/.env.local
*.log
